
.Box {
    position: relative;
    padding-bottom: 30px;
}

.Box .content {
    margin: 0 auto;
}


.Box .Box_con {
    position: relative;
}


.Box .Box_con .conbox {
    position: relative;
    overflow: hidden;
}

.Box .Box_con .conbox ul {
    position: relative;
    list-style: none;
}

.Box .Box_con .conbox ul li {
    float: left;
    width: 350px;
    height: 150px;
    margin-left: 3px;
    overflow: hidden;
}

.Box .Box_con .conbox ul li:first-child {
    margin-left: 0;
}


.Box .BoxSwitch {
    margin-top: 30px;
    text-align: center;
}

.Box .BoxSwitch span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    background: #ccc;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s all linear;
    border-radius: 5px;
}

.Box .BoxSwitch span.cur {
    width: 20px;
    height: 5px;
    transition: 0.3s all linear;
    background: orange;
}

.Box .BoxSwitch .btnl {
    width: 5px;
    height: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.Box .Box_con .btnl {
    background: url(../img/左箭头.png) no-repeat center;
}

.Box .Box_con .btnr {
    background: url(../img/右箭头.png) no-repeat center;
}

.Box .Box_con .btnl:hover {
    background: url(../img/左箭头.png) no-repeat center;
}

.Box .Box_con .btnr:hover {
    background: url(../img/右箭头.png) no-repeat center;
}
