figure {
    position: relative;
    overflow: hidden;
}

figure figcaption {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    color: #000;
    background: rgba(248, 142, 4, 0.749);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

figure img {
    opacity: 1;
    transition: all 0.5s
}

figure figcaption p,
h2 {
    opacity: 0;
    transform: scale(1.2);
}

figure figcaption h2 {
    padding: 15% 0 0 18%;
}

figure figcaption p {
    padding-left: 18%;
}

figure:hover figcaption {
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s
}

figure:hover figcaption p,
h2 {
    opacity: 1;
    transform: scale(1);
    transition: all 0.5s
}

figure:hover img {
    opacity: 0;
}

.modal.fade.in {
    top: 30%;
}

.orange {
    color: orange;
}

.nav-tabs {
    border-bottom: 0px solid #ddd !important;
}

.nav-tabs>li.active>a {
    border: 0px solid #ddd !important;
    color: orange !important;
    border-bottom: 3px solid orange !important;
}

.nav-tabs>li>a {
    border: 1px solid transparent !important;
}

#nav0 {
    margin-top: 1rem;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #fff;
}

.table>tbody>tr>td {
    border-top: 0px solid #ddd;
}

.modal-body {
    background-color: #f8f8f8;
}

.modal-body td {
    background-color: #f8f8f8;
}

sup {
    background-color: orange;
    color: #FFF;
    border-radius: 5px;
    font-size: 10px
}

@font-face {
    font-family: SourceHanSansCN;
    src: url('../font/SourceHanSansCN-Regular.otf');
    font-weight: 100;
}

@font-face {
    font-family: SourceHanSansCN;
    src: url('../font/SourceHanSansCN-ExtraLight.otf');
    font-weight: 200;
}

@font-face {
    font-family: SourceHanSansCN;
    src: url('../font/SourceHanSansCN-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: SourceHanSansCN;
    src: url('../font/SourceHanSansCN-Normal.otf');
    font-weight: 400;
}

@font-face {
    font-family: SourceHanSansCN;
    src: url('../font/SourceHanSansCN-Bold.otf');
    font-weight: 700;
}

@font-face {
    font-family: SourceHanSansCN;
    src: url('../font/SourceHanSansCN-Heavy.otf');
    font-weight: 900;
}

body {
    font-family: SourceHanSansCN;
}

ol.carousel-indicators li.active {
    width: 22px;
    height: 6px;
}

ol.carousel-indicators li {
    width: 6px;
    height: 5px;
    background: #FFF;
    margin-left: 6px;
    margin-right: 6px;
}