<!DOCTYPE html>
<html>

<head>
    <title>米德在线</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0" id="viewport" name="viewport">
    <meta content="#ffffff" name="theme-color">
    <meta content="米德在线">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="./css/main.bundle.css">
    <link rel="stylesheet" media="screen" href="./css/style.css">
    <link rel="stylesheet" media="screen" href="./css/common.css">
    <link href="./img/mi.png" rel="shortcut icon" type="image/x-icon">
</head>

<body>
    <div id="vueData" class="container-fluid" style="padding: 0px">
        <div class="navigator s-navbar-section" id="s-header">
            <div class="strikingly-fixed s-bg-light-text" id="s-nav">
                <div class="s-nav-inner">
                    <div class="s-nav-table">
                        <div class="logo">
                            <h2 class="logo-title" style="cursor: pointer;">
                                <div class="s-component s-text">
                                    <div class="s-component-content s-font-title">
                                        <a href="index.html">
                                            <div><img src="img/logo.png" /></div>
                                        </a>
                                    </div>
                                </div>
                            </h2>
                        </div>
                        <ul class="s-nav">
                            <li><a class="s-nav-item selected" target="_self" href="米德资讯.html"><span style="font-size:14px;padding:15px;font-weight:300">米德资讯</span></a></li>
                            <li><a class="s-nav-item" target="_self" href="aboutus.html"><span style="font-size:14px;padding:15px;font-weight: 300">米德团队</span></a></li>
                            <li>
                                <a class="s-nav-item">
                                    <div data-toggle="modal" data-target="#lxModal" style="cursor: pointer;"><span style="font-size:14px;padding:15px;font-weight: 300">联系我们</span></div>
                                </a>
                            </li>
                            <li><a class="s-nav-item" target="_self" href="joinus.html"><span style="font-size:14px;padding:15px;font-weight: 300">加入我们</span></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="waypoint"></div>
        <a class="section-anchor" style="top: -997px;"></a>
        <div>
            <img class="img-responsive center-block" :src="teamBanner.path" style="width:100%;">
        </div>
        <div class="clearfix" style="padding-bottom: 30px;">
            <div class="row">
                <img style="width:960px;padding-top:25px;padding-bottom: 45px" src="img/team-subbanner1.png" />
                <!-- <div class="column col-xs-12 col-sm-12 col-md-12">
                    <h3 style="letter-spacing:8px; font-weight:400;font-size: 26px;">{{teamTitle.articleContent}}</h3>
                    <div style=" width:30px; ">
                        <hr style="height:5px;border:none;border-top:5px solid #ffb339;margin-bottom: 0px; " />
                    </div>
                </div>
                <div class="column col-xs-4 col-sm-4 col-md-4" style="padding-bottom:20px">
                    <div class="row" style="font-size: 20px;font-weight:400; ">
                        <div class="column col-xs-6 col-sm-6 col-md-6">
                            <li style="color: #ffb339;">{{teamSubTitle1.articleContent}}</li>
                        </div>
                        <div class="column col-xs-6 col-sm-6 col-md-6">
                            <li style="color: #ffb339;">{{teamSubTitle2.articleContent}}</li>
                        </div>
                        <div class="column col-xs-6 col-sm-6 col-md-6">
                            <li style="color: #ffb339;">{{teamSubTitle3.articleContent}}</li>
                        </div>
                        <div class="column col-xs-6 col-sm-6 col-md-6">
                            <li style="color: #ffb339;">{{teamSubTitle4.articleContent}}</li>
                        </div>
                    </div>
                </div>
                <div class="column col-xs-4 col-sm-4 col-md-4" style="padding-bottom:20px">
                    <div class="row" style="padding:0px;font-size: 12px;font-weight:300; ">
                        <div class="column col-xs-12 col-sm-12 col-md-12">
                            <p style="text-align:left">{{teamDetail1.articleContent}}</p>
                        </div>
                    </div>
                </div>
                <div class="column col-xs-4 col-sm-4 col-md-4" style="padding-bottom:20px">
                    <div class="row" style="padding:0px;font-size: 12px;font-weight:300;">
                        <div class="column col-xs-12 col-sm-12 col-md-12">
                            <p style="text-align:left">{{teamDetail2.articleContent}}</p>
                        </div>
                    </div>
                </div> -->
            </div>

            <div class="row" style="padding-bottom: 40px">

                <div class="column col-xs-4 col-sm-4 col-md-4 " v-for="teacher in teachers" style="padding-bottom:50px">
                    <figure>
                        <img class="img-responsive center-block" :src="teacher.imgUrl">
                        <figcaption style="padding-left:20px;padding-right: 20px">
                            <h2 class="text-center" style="padding:0px; padding-top: 30px;">{{teacher.title}}</h2>
                            <p class="text-justify" style="padding:0px;">{{teacher.detail}}</p>
                            <p class="text-center btn-link" style="padding:0px; padding-top: 7px"><a :href="teacher.link" target="_blank">试听课程→</a></p>
                        </figcaption>
                    </figure>
                    <div class="text-center" style="height:60px;padding: 5px">
                        <p style="font-size: 14px;font-weight: 400">{{teacher.name}}</p>
                        <p class="text-justify" style="font-size: 12px;font-weight: 300">{{teacher.summary}}</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="row" style="background:#000; color:#FFF;margin:0px;text-align: left">
            <div class="clearfix" style="padding-top:70px; padding-bottom: 40px; ">
                <div class="column col-xs-4 col-sm-4 col-md-4" style="padding-top:15px;">
                    <div class="row">
                        <div class="cloumn col-xs-12 col-sm-12 col-md-12" style="height:30px;padding-left: 0px;margin-bottom: 14px">
                            <div style="line-height: 0px; font-size: 16px;font-weight:700 ;margin-bottom: 14px;letter-spacing:5px;">
                                <p>米德平台</p>
                            </div>
                            <div style=" width:35px;">
                                <hr style="height:4px;border:none;border-top:5px solid #ffb339; " />
                            </div>
                        </div>
                        <div class="column col-xs-12 col-sm-12 col-md-12" style="padding-left: 0px;">
                            <div>
                                <p style="font-size: 12px;font-weight:300;margin-bottom: 14px">微博：@米德在线 @米西德语 @老狼德语</p>
                            </div>
                            <div>
                                <p style="font-size: 12px;font-weight:300;margin-bottom: 14px">公众号：米德在线德语网课</p>
                            </div>
                            <div>
                                <p style="font-size: 12px;font-weight:300;margin-bottom: 14px">CC公开课群：<a style="color:#FFF" href="https://www.cctalk.com/m/group/616666" target="_blank">616666</a></p>
                            </div>
                            <div>
                                <p style="font-size: 12px;font-weight:300">CC米德会员群：<a style="color:#FFF" href="https://www.cctalk.com/m/group/85841616" target="_blank">85841616</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" column col-xs-2 col-sm-2 col-md-2 " style="padding-top:15px;">
                    <div class="row">
                        <div class="cloumn col-xs-12 col-sm-12 col-md-12" style="height:30px;margin-bottom: 14px">
                            <div style="line-height: 0px; font-size: 16px;font-weight: 800;letter-spacing:5px;">
                                <p>合作机构</p>
                            </div>
                            <div style=" width:35px; ">
                                <hr style="height:4px;border:none;border-top:5px solid #ffb339; " />
                            </div>
                        </div>
                        <div class="column col-xs-12 col-sm-12 col-md-12">
                            <div>
                                <p style="font-size: 12px;font-weight:300;">留德小助手</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-xs-6 col-sm-6 col-md-6 " style="padding-right:0px;text-align: right">
                    <div style="padding-left:40%;">
                        <div class="row">
                            <div class="cloumn col-xs-6 col-sm-6 col-md-6" style="padding-right:0px">
                                <div><img class="img-responsive center-block" src="img/二维码.png"></div>
                            </div>
                            <div class="cloumn col-xs-6 col-sm-6 col-md-6" style="padding-right:0px">
                                <div><img class="img-responsive center-block" src="img/二维码1.png"></div>
                            </div>
                            <div class="cloumn col-xs-6 col-sm-6 col-md-6" style="padding-top:5px;padding-right:0px">
                                <div class="text-center">
                                    <p style="font-size: 14px;font-weight: 300">米德在线公众号</p>
                                </div>
                            </div>
                            <div class="cloumn col-xs-6 col-sm-6 col-md-6" style="padding-top:5px;padding-right:0px">
                                <div class="text-center">
                                    <p style="font-size: 14px;font-weight: 300">德语免费公开课</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align:center;padding-bottom: 10px;">
                <p>{{bottomCopyright.articleContent}}</p>
                <a :href="bottomBeiAn.contentUrl" style="color:#FFF;">{{bottomBeiAn.articleContent}}</a>
            </div>
        </div>
        <!--my modal-->
        <div class="modal fade" id="lxModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="text-align:center; width:960px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button " class="close" @click="closeModel()">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body center-align">
                        <h4 style="font-size:22px;font-weight: 400">
                            联系我们
                        </h4>
                        <form class="form-inline" role="form">
                            <div class="form-group" style="padding:10px 2px 0px 0">
                                <input type="text" style="width:400px; height: 25px;" class="form-control" v-model="form1.name" placeholder="您的姓名：" />
                            </div>
                            <div class="form-group" style="padding:10px 0 0px 2px">
                                <input type="text" style="width:400px; height: 25px;" class="form-control" v-model="form1.city" placeholder="所在城市：" />
                            </div>
                            <div class="form-group" style="padding:10px 2px 0px 0">
                                <input type="text" style="width:400px; height: 25px;" class="form-control" v-model="form1.email" placeholder="您的邮箱：" />
                            </div>
                            <div class="form-group" style="padding:10px 0 0px 2px">
                                <input type="text" style="width:400px; height: 25px;" class="form-control" v-model="form1.phone" placeholder="联系电话：" />
                            </div>
                            <div class="form-group" style="padding:10px 0 0px 0">
                                <textarea type="text" rows="5" style="width:812px;" class="form-control" v-model="form1.detail" placeholder="合作需求："></textarea>
                            </div>
                        </form>
                        <div class="row" style="padding: 30px 0 10px 0; font-weight: 400; font-size: 16px">
                            <span>商务合作电话：</span><span style="color:#ffb339;padding-right: 30px">027-82298390</span>
                            <span>微信：</span><span style="color:#ffb339">deutschshi / michideutsch</span>
                        </div>
                        <div class="row" style="padding: 10px 0 10px 0">
                            <button type="button" @click="submitForm1()" class="btn btn-warning" style="width:250px;height: 30px;">
                                完成并发送
                            </button>
                        </div>
                        <div class="row" style="padding: 10px 0 30px 0">
                            <img src="img/logo1.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="suspension">
            <div class="suspension-box">
                <a href="tencent://message/?uin=5024862&Menu=yes& Service=300&sigT=42a1e5347953b64c5ff3980f8a6e644d4b31456cb0b6ac6b27663a3c4dd0f4aa14a543b1716f9d45" class="a a-service "><i class="i"></i></a>
                <a href="javascript:;" class="a a-qrcode"><i class="i"></i></a>
                <div class="d d-qrcode">
                    <div class="inner-box">
                        <div class="qrcode-img"><img src="./img/wechat01.png"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js "></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js "></script>

<script>
    var vm = new Vue({
        el: '#vueData',
        data: {
            //老师信息
            teachers: [],
            //文字
            teamTitle: {},
            teamSubTitle1: {},
            teamSubTitle2: {},
            teamSubTitle3: {},
            teamSubTitle4: {},
            teamDetail1: {},
            teamDetail2: {},
            bottomCopyright: {},
            bottomBeiAn: {},
            //表单
            form1: {
                name: '',
                city: '',
                email: '',
                phone: '',
                detail: ''
            },
            //图片
            teamBanner: {
                path: '',
                url: ''
            },
        },
        methods: {
            closeModel: function() {
                $('#lxModal').modal("hide");
            },
            submitForm1: function() {
                if (this.form1.name == "") {
                    alert("请输入您的姓名");
                    return;
                }
                if (this.form1.city == "") {
                    alert("请输入所在城市");
                    return;
                }
                if (this.form1.email == "") {
                    alert("请输入您的邮箱");
                    return;
                }
                if (this.form1.detail == "") {
                    alert("请输入联系电话");
                    return;
                }
                if (this.form1.name == "") {
                    alert("请输入合作需求");
                    return;
                }
                $.ajax({
                    url: "http://port.midezaixian.com/web/contact",
                    data: this.form1,
                    success: function(res) {
                        if (JSON.parse(res + '').success) {
                            alert("提交成功");
                        } else {
                            alert("提交失败");
                        }
                    }
                });
                this.closeModel();
            }
        }
    });
    $(document).ready(function() {
        $.ajax({
            url: "http://port.midezaixian.com/web/page",
            success: function(res) {
                if (res.code != 200 || res.data === '' || res.data === null) {
                    return;
                }

                var jsonObject = res.data

                //文字
                if (jsonObject.teamTitle != null) {
                    vm.teamTitle = jsonObject.teamTitle;
                }
                if (jsonObject.teamSubTitle1 != null) {
                    vm.teamSubTitle1 = jsonObject.teamSubTitle1;
                }
                if (jsonObject.teamSubTitle2 != null) {
                    vm.teamSubTitle2 = jsonObject.teamSubTitle2;
                }
                if (jsonObject.teamSubTitle3 != null) {
                    vm.teamSubTitle3 = jsonObject.teamSubTitle3;
                }
                if (jsonObject.teamSubTitle4 != null) {
                    vm.teamSubTitle4 = jsonObject.teamSubTitle4;
                }
                if (jsonObject.teamDetail1 != null) {
                    vm.teamDetail1 = jsonObject.teamDetail1;
                }
                if (jsonObject.teamDetail2 != null) {
                    vm.teamDetail2 = jsonObject.teamDetail2;
                }
                if (jsonObject.bottomCopyright != null) {
                    vm.bottomCopyright = jsonObject.bottomCopyright;
                }
                if (jsonObject.bottomBeiAn != null) {
                    vm.bottomBeiAn = jsonObject.bottomBeiAn;
                }
                //图片
                // if (jsonObject.mainBanner1 != null) {
                //     vm.mainBanner1 = jsonObject.mainBanner1;
                // }
                if (jsonObject.teamBanner != null) {
                    vm.teamBanner = jsonObject.teamBanner;
                }

            }
        });
        $.ajax({
            url: "http://port.midezaixian.com/web/teacher",
            success: function(res) {

                if (res.code === 200 && res.data != '' && res.data != null) {
                    vm.teachers = res.data;
                }
            }
        });
    })
</script>

<script type="text/javascript">
    $(document).ready(function() {

        /* ----- 侧边悬浮 ---- */
        $(document).on("mouseenter", ".suspension .a", function() {
            var _this = $(this);
            var s = $(".suspension");
            var isQrcode = _this.hasClass("a-qrcode");
            if (isQrcode) {
                s.find(".d-qrcode").show().siblings(".d").hide();
            } else {
                s.find(".d-qrcode").hide().siblings(".d").show();
            }
        });
        $(document).on("mouseleave", ".suspension, .suspension .a-top", function() {
            $(".suspension").find(".d").hide();
        });
        $(document).on("mouseenter", ".suspension .a-top", function() {
            $(".suspension").find(".d").hide();
        });
        $(document).on("click", ".suspension .a-top", function() {
            $("html,body").animate({
                scrollTop: 0
            });
        });
        $(window).scroll(function() {
            var st = $(document).scrollTop();
            var $top = $(".suspension .a-top");
            if (st > 400) {
                $top.css({
                    display: 'block'
                });
            } else {
                if ($top.is(":visible")) {
                    $top.hide();
                }
            }
        });

    });
</script>

</html>