<!DOCTYPE html>
<html>

<head>
    <title>米德在线</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0" id="viewport"
        name="viewport">
    <meta content="#ffffff" name="theme-color">
    <meta content="米德在线">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="./css/main.bundle.css">
    <link rel="stylesheet" media="screen" href="./css/style.css">
    <link rel="stylesheet" media="screen" href="./css/common.css">
    <link href="./img/mi.png" rel="shortcut icon" type="image/x-icon">
</head>

<body>
    <div id="vueData" class="container-fluid" style="padding: 0px">
        <div class="navigator s-navbar-section" id="s-header">
            <div class="strikingly-fixed s-bg-light-text" id="s-nav">
                <div class="s-nav-inner">
                    <div class="s-nav-table">
                        <div class="logo">
                            <h2 class="logo-title" style="cursor: pointer;">
                                <div class="s-component s-text">
                                    <div class="s-component-content s-font-title">
                                        <img src="img/logo.png" />
                                    </div>
                                </div>
                            </h2>
                        </div>
                        <ul class="s-nav">
                            <li><a class="s-nav-item selected" target="_self" href="index.html"><span style="font-size:14px;padding:15px;font-weight:300">首页</span></a></li>
                            <li><a class="s-nav-item" target="_self" href="aboutus.html"><span style="font-size:14px;padding:15px;font-weight: 300">米德团队</span></a></li>
                            <li><a class="s-nav-item">
                                    <div data-toggle="modal" data-target="#lxModal" style="cursor: pointer;"><span
                                            style="font-size:14px;padding:15px;font-weight: 300">联系我们</span></div>
                                </a></li>
                            <li><a class="s-nav-item" target="_self" href="joinus.html"><span style="font-size:14px;padding:15px;font-weight: 300">加入我们</span></a></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="waypoint"></div>
        <a class="section-anchor" style="top: -997px;"></a>
        <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img :src="mainBanner1.path" alt="First slide" class="img-responsive center-block" style="width:100%">
                </div>
                <div class="item">
                    <img :src="mainBanner2.path" alt="Second slide" class="img-responsive center-block" style="width:100%">
                </div>
                <div class="item">
                    <img :src="mainBanner3.path" alt="Third slide" class="img-responsive center-block" style="width:100%">
                </div>
                <div class="item">
                    <img :src="mainBanner3.path" alt="Four slide" class="img-responsive center-block" style="width:100%">
                </div>
            </div>
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <div style="padding-left: 30%; padding-top: 150%;text-align: left"><img src="img/轮播箭头左.png" aria-hidden="true" /></div>
                <!-- <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> -->
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <div style="padding-right: 30%; padding-top: 150%;text-align:right"><img src="img/轮播箭头右.png"
                        aria-hidden="true" /></div>
                <!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="clearfix" style="padding-bottom: 30px">
            <div class="row" style="padding: 44px 0px 38px;">
                <div class="column col-xs-12 col-sm-4 col-md-4" style="padding-left:0px;">
                    <p style="letter-spacing:8px;font-size: 22px;font-weight:400;margin-bottom: 10px">{{mainTitle.articleContent}}</p>
                    <p style="letter-spacing:5px;font-size: 14px;font-weight:400">{{mainSubTitle.articleContent}}</p>
                </div>
                <div class="column col-xs-12 col-sm-2 col-md-2">
                    <img class="img-responsive center-block" src="img/箭头.png">
                </div>
                <div class="column col-xs-12 col-sm-6 col-md-6" style="padding-right:0px;">
                    <p style="letter-spacing:2px;font-size: 13px;font-weight:300">{{mainDetail.articleContent}}</p>
                </div>
            </div>
            <div class="row">
                <div data-sorting-index="0" class="column col-xs-12 col-sm-6 col-md-4" style="padding: 3px;">
                    <a :href="mainMudle1.url">
                        <figure>
                            <img class="img-responsive center-block" :src="mainMudle1.path">
                            <figcaption>
                                <h2 style="font-weight:400;font-size: 18px">{{mainMudleh1.articleContent}}</h2>
                                <div style="width: 35px;margin-left: 18%;">
                                    <hr style="height:4px;border:none;border-top:5px solid #000;" />
                                </div>
                                <p style="font-weight:300;font-size: 14px">{{mainMudlep1.articleContent}}</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div data-sorting-index="1" class="column col-xs-12 col-sm-6 col-md-4" style="padding: 3px;">
                    <a :href="mainMudle2.url">
                        <figure>
                            <img class="img-responsive center-block" :src="mainMudle2.path">
                            <figcaption>
                                <h2 style="font-weight:400;font-size: 18px">{{mainMudleh2.articleContent}}</h2>
                                <div style="width: 35px;margin-left: 18%;">
                                    <hr style="height:4px;border:none;border-top:5px solid #000;" />
                                </div>
                                <p style="font-weight:300;font-size: 14px">{{mainMudlep2.articleContent}}</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div data-sorting-index="2" class="column col-xs-12 col-sm-6 col-md-4" style="padding: 3px;">
                    <a :href="mainMudle3.url">
                        <figure>
                            <img class="img-responsive center-block" :src="mainMudle3.path">
                            <figcaption>
                                <h2 style="font-weight:400;font-size: 18px">{{mainMudleh3.articleContent}}</h2>
                                <div style="width: 35px;margin-left: 18%;">
                                    <hr style="height:4px;border:none;border-top:5px solid #000;" />
                                </div>
                                <p style="font-weight:300;font-size: 14px">{{mainMudlep3.articleContent}}</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div data-sorting-index="3" class="column col-xs-12 col-sm-6 col-md-4" style="padding: 3px;">
                    <a :href="mainMudle4.url">
                        <figure>
                            <img class="img-responsive center-block" :src="mainMudle4.path">
                            <figcaption>
                                <h2 style="font-weight:400;font-size: 18px">{{mainMudleh4.articleContent}}</h2>
                                <div style="width: 35px;margin-left: 18%;">
                                    <hr style="height:4px;border:none;border-top:5px solid #000;" />
                                </div>
                                <p style="font-weight:300;font-size: 14px">{{mainMudlep4.articleContent}}</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div data-sorting-index="4" class="column col-xs-12 col-sm-6 col-md-4" style="padding: 3px;">
                    <a :href="mainMudle5.url">
                        <figure>
                            <img class="img-responsive center-block" :src="mainMudle5.path">
                            <figcaption>
                                <h2 style="font-weight:400;font-size: 18px">{{mainMudleh5.articleContent}}</h2>
                                <div style="width: 35px;margin-left: 18%;">
                                    <hr style="height:4px;border:none;border-top:5px solid #000;" />
                                </div>
                                <p style="font-weight:300;font-size: 14px">{{mainMudlep5.articleContent}}</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
                <div data-sorting-index="5" class="column col-xs-12 col-sm-6 col-md-4" style="padding: 5px;">
                    <a :href="mainMudle6.url">
                        <figure>
                            <img class="img-responsive center-block" :src="mainMudle6.path">
                            <figcaption>
                                <h2 style="font-weight:400;font-size: 18px">{{mainMudleh6.articleContent}}</h2>
                                <div style="width: 35px;margin-left: 18%;">
                                    <hr style="height:4px;border:none;border-top:5px solid #000;" />
                                </div>
                                <p style="font-weight:300;font-size: 14px">{{mainMudlep6.articleContent}}</p>
                            </figcaption>
                        </figure>
                    </a>
                </div>
            </div>
        </div>
        <div class="row" style="background:#000; color:#FFF;margin:0px">
            <div class="clearfix" style="padding-top:70px; padding-bottom: 40px; ">
                <div class="column col-xs-12 col-sm-12 col-md-4" style="padding-top:15px;">
                    <div class="row">
                        <div class="cloumn col-xs-12 col-sm-12 col-md-12" style="height:30px;padding-left: 0px;margin-bottom: 14px">
                            <div style="line-height: 0px; font-size: 16px;font-weight:700 ;margin-bottom: 14px;letter-spacing:5px;">
                                <p>米德平台</p>
                            </div>
                            <div style=" width:35px;">
                                <hr style="height:4px;border:none;border-top:5px solid #ffb339; " />
                            </div>
                        </div>
                        <div class="column col-xs-12 col-sm-12 col-md-12" style="padding-left: 0px;">

                            <div>
                                <p style="font-size: 12px;font-weight:300;margin-bottom: 14px">微博：@米西德语 @老狼德语</p>
                            </div>
                            <div>
                                <p style="font-size: 12px;font-weight:300;margin-bottom: 14px">公众号：MIDEZAIXIAN</p>
                            </div>
                            <div>
                                <p style="font-size: 12px;font-weight:300;margin-bottom: 14px">小程序：德语网课</p>
                            </div>
                            <div>
                                <p style="font-size: 12px;font-weight:300;margin-bottom: 14px">CCTALK公开课群：515555</p>
                            </div>
                            <div>
                                <p style="font-size: 12px;font-weight:300">CCTALK会员群：82635920</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" column col-xs-12 col-sm-12 col-md-4 " style="padding-top:15px;">
                    <div class="row">
                        <div class="cloumn col-xs-12 col-sm-12 col-md-12" style="height:30px;margin-bottom: 14px">
                            <div style="line-height: 0px; font-size: 16px;font-weight: 800;letter-spacing:5px;">
                                <p>合作机构</p>
                            </div>
                            <div style=" width:35px; ">
                                <hr style="height:4px;border:none;border-top:5px solid #ffb339; " />
                            </div>

                        </div>
                        <div class="column col-xs-12 col-sm-12 col-md-12">
                            <div>
                                <p style="font-size: 12px;font-weight:300;">留德小助手</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="column col-xs-12 col-sm-12 col-md-4 " style="padding-right:0px;">
                    <div style="padding-left:40%;">
                        <div class="row">
                            <div class="cloumn col-xs-12 col-sm-12 col-md-12" style="padding-right:0px">
                                <div><img class="img-responsive center-block" src="img/二维码.png"></div>
                            </div>
                            <div class="cloumn col-xs-12 col-sm-12 col-md-12" style="padding-top:5px;padding-right:0px">
                                <div class="text-center">
                                    <p style="font-size: 14px;font-weight: 300">扫一扫了解更多</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--my modal-->
        <div class="modal fade" id="lxModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="text-align:center; width:800px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button " class="close" @click="closeModel()">
                            &times;
                        </button>
                        <h4 class="modal-title center-align" id="myModalLabel" style="font-size:22px;font-weight: 400">
                            联系我们
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline" role="form">
                            <div class="form-group" style="padding:10px 15px 0px 0">
                                <input type="text" style="width:300px;" class="form-control" v-model="form1.name"
                                    placeholder="您的姓名：" />
                            </div>
                            <div class="form-group" style="padding:10px 0 0px 15px">
                                <input type="text" style="width:300px;" class="form-control" v-model="form1.city"
                                    placeholder="所在城市：" />
                            </div>
                            <div class="form-group" style="padding:10px 15px 0px 0">
                                <input type="text" style="width:300px;" class="form-control" v-model="form1.email"
                                    placeholder="您的邮箱：" />
                            </div>
                            <div class="form-group" style="padding:10px 0 0px 15px">
                                <input type="text" style="width:300px;" class="form-control" v-model="form1.phone"
                                    placeholder="联系电话：" />
                            </div>
                            <div class="form-group" style="padding:10px 0 0px 0">
                                <textarea type="text" rows="5" style="width:630px;" class="form-control" v-model="form1.detail"
                                    placeholder="合作需求："></textarea>
                            </div>
                        </form>
                        <div class="row" style="padding: 30px 0 10px 0; font-weight: 400; font-size: 16px">
                            <span>商务合作电话：</span><span style="color:#ffb339;padding-right: 30px">027-82298390</span>
                            <span>微信：</span><span style="color:#ffb339">deutschshi / michideutsch</span>
                        </div>
                        <div class="row" style="padding: 10px 0 10px 0">
                            <button type="button" @click="submitForm1()" class="btn btn-warning" style="width:200px">
                                完成并发送
                            </button>
                        </div>

                        <div class="row" style="padding: 10px 0 10px 0">
                            <img src="img/logo1.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js "></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js "></script>


<script>
    var vm = new Vue({
        el: '#vueData',
        data: {
            //文字
            mainTitle: {
                articleContent: '一站式德语游学服务',
                contentUrl: ''
            },
            mainSubTitle: {
                articleContent: '亲和 严谨 有深度',
                contentUrl: ''
            },
            mainDetail: {
                articleContent: '一群高学历的留德青年 + 一个接地气的创业梦想     我们赞赏的是一种前行不息的求学态度，对于每一个追求视野的学子    我们希望以自己的经验助你一臂之力为你的将来增添更多可能',
                contentUrl: ''
            },
            mainMudleh1: {
                articleContent: '板块标题',
                contentUrl: ''
            },
            mainMudleh2: {
                articleContent: '板块标题',
                contentUrl: ''
            },
            mainMudleh3: {
                articleContent: '板块标题',
                contentUrl: ''
            },
            mainMudleh4: {
                articleContent: '板块标题',
                contentUrl: ''
            },
            mainMudleh5: {
                articleContent: '板块标题',
                contentUrl: ''
            },
            mainMudleh6: {
                articleContent: '板块标题',
                contentUrl: ''
            },
            mainMudlep1: {
                articleContent: '板块内容',
                contentUrl: ''
            },
            mainMudlep2: {
                articleContent: '板块内容',
                contentUrl: ''
            },
            mainMudlep3: {
                articleContent: '板块内容',
                contentUrl: ''
            },
            mainMudlep4: {
                articleContent: '板块内容',
                contentUrl: ''
            },
            mainMudlep5: {
                articleContent: '板块内容',
                contentUrl: ''
            },
            mainMudlep6: {
                articleContent: '板块内容',
                contentUrl: ''
            },
            //表单
            form1: {
                name: '',
                city: '',
                email: '',
                phone: '',
                detail: ''
            },


            //图片
            mainBanner1: {
                path: 'img/轮播图.png',
                url: ''
            },
            mainBanner2: {
                path: 'img/轮播图.png',
                url: ''
            },
            mainBanner3: {
                path: 'img/轮播图.png',
                url: ''
            },
            mainMudle1: {
                path: 'img/mod1.png',
                url: '德语标准课程.html'
            },
            mainMudle2: {
                path: 'img/mod2.png',
                url: '德语特色课程.html'
            },
            mainMudle3: {
                path: 'img/mod3.png',
                url: '德语课程.html'
            },
            mainMudle4: {
                path: 'img/mod4.png',
                url: '德语资源.html'
            },
            mainMudle5: {
                path: 'img/mod5.png',
                url: '#'
            },
            mainMudle6: {
                path: 'img/mod6.png',
                url: '#'
            },
        },
        methods: {
            closeModel: function () {
                $('#lxModal').modal("hide");
            },
            submitForm1: function () {
                if (this.form1.name == "") {
                    alert("请输入您的姓名");
                    return;
                }
                if (this.form1.city == "") {
                    alert("请输入所在城市");
                    return;
                }
                if (this.form1.email == "") {
                    alert("请输入您的邮箱");
                    return;
                }
                if (this.form1.detail == "") {
                    alert("请输入联系电话");
                    return;
                }
                if (this.form1.name == "") {
                    alert("请输入合作需求");
                    return;
                }
                $.ajax({
                    url: "http://118.24.110.84:8081/admin/web/contact.do",
                    data: this.form1,
                    success: function (res) {
                        if (JSON.parse(res + '').success) {
                            alert("提交成功");
                        } else {
                            alert("提交失败");
                        }
                    }
                });
                this.closeModel();
            }
        }
    });
    $(document).ready(function () {
        //锚点跳转滑动效果  

        $.ajax({
            url: "http://118.24.110.84:8081/admin/web/page.do",
            success: function (res) {
                var jsonObject = JSON.parse(res + '');
                //文字
                if (jsonObject.mainTitle != null) {
                    vm.mainTitle = jsonObject.mainTitle;
                }
                if (jsonObject.mainSubTitle != null) {
                    vm.mainSubTitle = jsonObject.mainSubTitle;
                }
                if (jsonObject.mainDetail != null) {
                    vm.mainDetail = jsonObject.mainDetail;
                }
                if (jsonObject.mainMudlep1 != null) {
                    vm.mainMudlep1 = jsonObject.mainMudlep1;
                }
                if (jsonObject.mainMudlep2 != null) {
                    vm.mainMudlep2 = jsonObject.mainMudlep2;
                }
                if (jsonObject.mainMudlep3 != null) {
                    vm.mainMudlep3 = jsonObject.mainMudlep3;
                }
                if (jsonObject.mainMudlep4 != null) {
                    vm.mainMudlep4 = jsonObject.mainMudlep4;
                }
                if (jsonObject.mainMudlep5 != null) {
                    vm.mainMudlep5 = jsonObject.mainMudlep5;
                }
                if (jsonObject.mainMudlep6 != null) {
                    vm.mainMudlep6 = jsonObject.mainMudlep6;
                }
                if (jsonObject.mainMudleh1 != null) {
                    vm.mainMudleh1 = jsonObject.mainMudleh1;
                }
                if (jsonObject.mainMudleh2 != null) {
                    vm.mainMudleh2 = jsonObject.mainMudleh2;
                }
                if (jsonObject.mainMudleh3 != null) {
                    vm.mainMudleh3 = jsonObject.mainMudleh3;
                }
                if (jsonObject.mainMudleh4 != null) {
                    vm.mainMudleh4 = jsonObject.mainMudleh4;
                }
                if (jsonObject.mainMudleh5 != null) {
                    vm.mainMudleh5 = jsonObject.mainMudleh5;
                }
                if (jsonObject.mainMudleh6 != null) {
                    vm.mainMudleh6 = jsonObject.mainMudleh6;
                }


                //图片
                // if (jsonObject.mainBanner1 != null) {
                //     vm.mainBanner1 = jsonObject.mainBanner1;
                // }
                if (jsonObject.mainBanner2 != null) {
                    vm.mainBanner2 = jsonObject.mainBanner2;
                }
                if (jsonObject.mainBanner3 != null) {
                    vm.mainBanner3 = jsonObject.mainBanner3;
                }
                if (jsonObject.mainMudle1 != null) {
                    vm.mainMudle1 = jsonObject.mainMudle1;
                }
                if (jsonObject.mainMudle2 != null) {
                    vm.mainMudle2 = jsonObject.mainMudle2;
                }
                if (jsonObject.mainMudle3 != null) {
                    vm.mainMudle3 = jsonObject.mainMudle3;
                }
                if (jsonObject.mainMudle4 != null) {
                    vm.mainMudle4 = jsonObject.mainMudle4;
                }
                if (jsonObject.mainMudle5 != null) {
                    vm.mainMudle5 = jsonObject.mainMudle5;
                }
                if (jsonObject.mainMudle6 != null) {
                    vm.mainMudle6 = jsonObject.mainMudle6;
                }
            }
        });
    })
</script>


</html>