<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="zh-CN" xmlns:fb="https://www.facebook.com/2008/fbml"
    xmlns:og="http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>米德在线</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0" id="viewport"
        name="viewport">
    <meta content="#ffffff" name="theme-color">
    <meta content="米德在线">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="./css/main.bundle.css">
    <link rel="stylesheet" media="screen" href="./css/common.css">
    <link rel="stylesheet" media="screen" href="./css/style.css">
    <link href="./img/mi.png" rel="shortcut icon" type="image/x-icon">
</head>
<style>
    figure figcaption {
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: 0;
        top: 0;
        left: 0;
        color: #000;
        background: rgba(70, 68, 67, 0.749);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        border: 2px solid hsl(300, 6%, 91%);
    }
    
    figure:hover img {
        opacity: 0.9;
        transform: scale(1);
        transition: all 1s;
    }
</style>

<body>
    <div id="vueData" class="container-fluid" style="padding: 0px">
        <div class="navigator s-navbar-section" id="s-header">
            <div class="strikingly-fixed s-bg-light-text" id="s-nav">
                <div class="s-nav-inner">
                    <div class="s-nav-table">
                        <div class="logo">
                            <h2 class="logo-title" style="cursor: pointer;">
                                <div class="s-component s-text">
                                    <div class="s-component-content s-font-title">
                                        <a href="index.html">
                                            <div><img src="img/logo.png" /></div>
                                        </a>
                                    </div>
                                </div>
                            </h2>
                        </div>
                        <ul class="s-nav">
                            <li><a class="s-nav-item selected" target="_self" href="米德资讯.html"><span style="font-size:14px;padding:15px;font-weight:300">米德资讯</span></a></li>
                            <li><a class="s-nav-item" target="_self" href="aboutus.html"><span style="font-size:14px;padding:15px;font-weight: 300">米德团队</span></a></li>
                            <li>
                                <a class="s-nav-item">
                                    <div @click="getRes(nowRes,'lxModal')" style="cursor: pointer;"><span style="font-size:14px;padding:15px;font-weight: 300">联系我们</span></div>
                                </a>
                            </li>
                            <li><a class="s-nav-item" target="_self" href="joinus.html"><span style="font-size:14px;padding:15px;font-weight: 300">加入我们</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="waypoint"></div>
        <a class="section-anchor" style="top: -997px;"></a>
        <div>
            <img class="img-responsive center-block" :src="resBanner.path" style="width:100%;">
        </div>
        <div class="clearfix" style="padding-bottom: 30px;padding-top: 50px;">
            <div id="nav0" class="tabbable row">
                <div class="cloumn col-xs-12 col-sm-12 col-md-12 ">
                    <ul class="nav nav-tabs btn-group btn-group-justified">
                        <li class="active nav-li btn-link" style="cursor: pointer;width:15%" data-toggle="tab"><a
                                @click="getRess('resType1')">{{resType1.articleContent}}</a></li>
                        <li style="font-size:2rem;padding-top:0.5rem">|</li>
                        <li class="nav-li btn-link" style="cursor: pointer;width:15%" data-toggle="tab"><a @click="getRess('resType2')">{{resType2.articleContent}}</a></li>
                        <li style="font-size:2rem;padding-top:0.5rem">|</li>
                        <li class="nav-li btn-link" style="cursor: pointer;width:15%" data-toggle="tab"><a @click="getRess('resType3')">{{resType3.articleContent}}</a></li>
                        <li style="font-size:2rem;padding-top:0.5rem">|</li>
                        <li class="nav-li btn-link" style="cursor: pointer;width:15%" data-toggle="tab"><a @click="getRess('resType4')">{{resType4.articleContent}}</a></li>
                        <li style="font-size:2rem;padding-top:0.5rem">|</li>
                        <li class="nav-li btn-link" style="cursor: pointer;width:15%" data-toggle="tab"><a @click="getRess('resType5')">{{resType5.articleContent}}</a></li>
                        <li style="font-size:2rem;padding-top:0.5rem">|</li>
                        <li class="nav-li btn-link" style="cursor: pointer;width:160px" data-toggle="tab"><a @click="getAllRess()">免费资源<sup>
                                    FREE</sup></a></li>
                    </ul>
                </div>
                <div class="cloumn col-xs-12 col-sm-12 col-md-12 " style="padding-top:60px;padding-bottom:40px;text-align: left">
                    <div class="row firstRow rowHeader" v-for="res in ress">
                            <!--<a type="button" data-toggle="modal" data-target="#myModal">-->
                            <div class="cloumn col-xs-5 col-sm-5 col-md-5">
                                <!-- <div v-if="res.constantId === 'resType1'">
                                    <figure>
                                        <img class="img-responsive center-block" :src="res.imgUrl">
                                        <figcaption>
                                            <div style="padding-left: 40%;padding-top: 17%">

                                                <a href="#"><img class="img-responsive" src="img/资源蒙层.png"></a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                                <div v-else-if="res.constantId === 'resType3'">
                                    <figure>
                                        <img class="img-responsive center-block" :src="res.imgUrl">
                                        <figcaption>
                                            <div style="padding-left: 40%;padding-top: 17%">
                                                <a href="#"><img class="img-responsive" src="img/资源蒙层.png"></a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div> 
                                 <div v-else>
                                    <img class="img-responsive center-block" :src="res.imgUrl">
                                </div> -->
                                <div>
                                    <img class="img-responsive center-block" :src="res.imgUrl">
                                </div>
                            </div>
                            <!--</a>-->
                            <div class="cloumn col-xs-7 col-sm-7 col-md-7 " style="padding-left:30px;">
                                <div style="padding-top:5%"><span style="text-align:left;padding-left:7%;letter-spacing: 4px;font-size: 20px;font-weight:500">{{res.resName}}<sup
                                            v-if="res.bdyUrl === '' || res.bdyUrl === null">￥</sup>
                                    </span></div>
                                <div style="padding-top:10px">
                                    <div class="row" style="padding:0px">
                                        <div class="cloumn col-xs-2 col-sm-2 col-md-2 " style="text-align:right;padding: 0px;">
                                            <span style="font-weight:300;font-size: 10px">简介：</span>
                                        </div>
                                        <div class="cloumn col-xs-10 col-sm-10 col-md-10 " style="text-align:left;padding-left: 0px;">
                                            <span style="font-weight:100;font-size: 10px">
                                                {{res.resContent}}
                                            </span>
                                        </div>
                                        <div class="cloumn col-xs-2 col-sm-2 col-md-2 " style="text-align:right;padding-right: 0px;padding-top:10px;">

                                        </div>
                                        <div class="cloumn col-xs-10 col-sm-10 col-md-10 " id="box6" style="padding-top:10px;padding-left: 0px;">
                                            <span style="padding-right:10px" v-if="res.videoUrl != '' && res.videoUrl != null">
                                                <a type="button" :href="res.videoUrl" target="_blank">
                                                    <div class="btn btn-default btn-xs orange signUpBtn" style="border-color: orange;">观看预告</div>
                                                </a>
                                            </span>
                                            <span>
                                                <a type="button" @click="getRes(res,'')">
                                                    <div class="btn btn-default btn-xs orange signUpBtn" style="border-color: orange;">获取资源</div>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="column col-xs-12 col-sm-12 col-md-12" style="padding-top:10px;padding-bottom: 10px">
                                <hr style="height:4px;border:none;border-top:5px solid #fafafa;" />
                            </div>
                        </div>
                </div>
            </div>
            <div class="row">
                <form class="form-inline" role="form">
                    <div class="column col-xs-2 col-sm-2 col-md-2 text-center" style="font-size:20px;font-weight: 400;padding: 5px"><span>资源报错</span></div>

                    <div class="form-group column col-xs-3 col-sm-3 col-md-3" style="padding: 5px">
                        <input type="text" class="form-control" v-model="form2.name" placeholder="类型区别/资源分类" style="width:100%;height: 28px;">
                    </div>
                    <div class="form-group column col-xs-5 col-sm-5 col-md-5" style="padding: 5px">
                        <input type="text" class="form-control" v-model="form2.detail" placeholder="错误描述(请控制在30字内)"
                            style="width:100%;height: 28px;">
                    </div>
                    <div class="column col-xs-2 col-sm-2 col-md-2" style="padding: 5px">
                        <div class="btn btn-default btn-xs orange signUpBtn " @click="submitForm2" style="border-color: orange;padding: 5px;height: 28px; width: 100%">反馈意见</div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="background:#000; color:#FFF;margin:0px;text-align:left">
            <div class="clearfix" style="padding-top:70px; padding-bottom: 40px; ">
                <div class="column col-xs-4 col-sm-4 col-md-4" style="padding-top:15px;">
                    <div class="row">
                        <div class="cloumn col-xs-12 col-sm-12 col-md-12" style="height:30px;padding-left: 0px;margin-bottom: 14px">
                            <div style="line-height: 0px; font-size: 16px;font-weight:700 ;margin-bottom: 14px;letter-spacing:5px;">
                                <p>米德平台</p>
                            </div>
                            <div style=" width:35px;">
                                <hr style="height:4px;border:none;border-top:5px solid #ffb339; " />
                            </div>
                        </div>
                        <div class="column col-xs-12 col-sm-12 col-md-12" style="padding-left: 0px;">

                            <div>
                                <p style="font-size: 12px;font-weight:300;margin-bottom: 14px">微博：@米西德语 @老狼德语</p>
                            </div>
                            <div>
                                <p style="font-size: 12px;font-weight:300;margin-bottom: 14px">公众号：MIDEZAIXIAN</p>
                            </div>
                            <div>
                                <p style="font-size: 12px;font-weight:300;margin-bottom: 14px">小程序：德语网课</p>
                            </div>
                            <div>
                                <p style="font-size: 12px;font-weight:300;margin-bottom: 14px">CCTALK公开课群：515555</p>
                            </div>
                            <div>
                                <p style="font-size: 12px;font-weight:300">CCTALK会员群：82635920</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" column col-xs-4 col-sm-4 col-md-4 " style="padding-top:15px;">
                    <div class="row">
                        <div class="cloumn col-xs-12 col-sm-12 col-md-12" style="height:30px;margin-bottom: 14px">
                            <div style="line-height: 0px; font-size: 16px;font-weight: 800;letter-spacing:5px;">
                                <p>合作机构</p>
                            </div>
                            <div style=" width:35px; ">
                                <hr style="height:4px;border:none;border-top:5px solid #ffb339; " />
                            </div>

                        </div>
                        <div class="column col-xs-12 col-sm-12 col-md-12">
                            <div>
                                <p style="font-size: 12px;font-weight:300;">留德小助手</p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="column col-xs-4 col-sm-4 col-md-4 " style="padding-right:0px;">
                    <div style="padding-left:50%;">
                        <div class="row">
                            <div class="cloumn col-xs-12 col-sm-12 col-md-12" style="padding-right:0px">
                                <div><img class="img-responsive center-block" src="img/二维码.png"></div>
                            </div>
                            <div class="cloumn col-xs-12 col-sm-12 col-md-12" style="padding-top:5px;padding-right:0px">
                                <div class="text-center">
                                    <p style="font-size: 14px;font-weight: 300">扫一扫了解更多</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align:center;padding-bottom: 10px;">
                <p>{{bottomCopyright.articleContent}}</p>
                <a :href="bottomBeiAn.contentUrl" style="color:#FFF;">{{bottomBeiAn.articleContent}}</a>
            </div>
        </div>
        <!--my modal-->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 800px;height: 400px;">
                <div class="modal-content">
                    <div class="modal-header ">
                        <button type="button" class="close" @click="closeModel()">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <div style="margin-left:20%;width: 60%;text-align:center;padding-top: 30px;padding-bottom: 30px;font-size: 13px;font-weight: 500;letter-spacing: 1px;">
                            <div class="row" style="padding-bottom: 30px;padding-top: 20px;">
                                <div class="column col-xs-6 col-sm-6 col-md-6 " style="padding-top: 20px">
                                    <div style="margin:0px;padding-bottom: 10px">
                                        <img class="img-responsive center-block" :src="nowRes.playUrl" />
                                    </div>
                                    <p style="font-size: 15px;margin:0px">{{nowRes.resName}}</p>
                                </div>
                                <div class="column col-xs-1 col-sm-1 col-md-1" style="padding-top: 20px;">
                                    <div style="width: 1px;height: 160px; background: hsl(0, 0%, 56%);"></div>
                                </div>
                                <div class="column col-xs-5 col-sm-5 col-md-5" style="padding:0;padding-top: 20px">
                                    <div style="margin:0px;">
                                        <img class="img-responsive center-block" :src="nowRes.qrcUrl" />
                                    </div>
                                </div>
                            </div>
                            <p>{{resMethod.articleContent}}</p>
                            <img class="img-responsive center-block" src="img/头像logo.png" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!--my modal-->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="width: 800px;height: 400px;">
                <div class="modal-content">
                    <div class="modal-header ">
                        <button type="button" class="close" @click="closeModel()">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body">
                        <div style="margin-left:25%;width: 50%;text-align:center;">
                            <div class="row" style="padding-bottom: 30px;padding-top: 30px">
                                <div class="column col-xs-12 col-sm-12 col-md-12 " style="padding:5px">
                                    <div style="margin:0px;margin-top: 20px">
                                        <img class="img-responsive center-block" :src="nowRes.playUrl" />
                                    </div>
                                </div>
                                <div class="column col-xs-12 col-sm-12 col-md-12 " style="padding:5px;text-align:left;padding-top: 20px">
                                    <div class="row" style="padding:5px;padding-left: 0px">
                                        <div class="column col-xs-2 col-sm-2 col-md-2 " style="padding:0px;text-align:right;">
                                            <span>提取地址:</span>
                                        </div>
                                        <div class="column col-xs-10 col-sm-10 col-md-10 " style="padding:0px">
                                            <span style="color:#ffb339;width:100%;word-wrap:break-word;overflow:hidden;word-break:break-all;white-space:normal;display:inline-block;">{{nowRes.bdyUrl}}</span>
                                        </div>
                                    </div>
                                    <div class="row" style="padding:5px;padding-left: 0px">
                                        <div class="column col-xs-2 col-sm-2 col-md-2 " style="padding:0px;text-align:right;">
                                            <span>提取密码:</span>
                                        </div>
                                        <div class="column col-xs-10 col-sm-10 col-md-10 " style="padding:0px">
                                            <span>{{nowRes.bdyCode}}</span>
                                        </div>
                                    </div>
                                    <div class="row" style="padding:5px;padding-top: 20px;padding-bottom: 30px">
                                        <div class="column col-xs-12 col-sm-12 col-md-12 " style="padding:5px">
                                            <img class="img-responsive center-block" src="img/logo1.png" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--my modal-->
        <div class="modal fade" id="lxModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="text-align:center; width:960px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button " class="close" @click="closeModel()">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body center-align">
                        <h4 style="font-size:22px;font-weight: 400">
                            联系我们
                        </h4>
                        <form class="form-inline" role="form">
                            <div class="form-group" style="padding:10px 2px 0px 0">
                                <input type="text" style="width:400px; height: 25px;" class="form-control" v-model="form1.name"
                                    placeholder="您的姓名：" />
                            </div>
                            <div class="form-group" style="padding:10px 0 0px 2px">
                                <input type="text" style="width:400px; height: 25px;" class="form-control" v-model="form1.city"
                                    placeholder="所在城市：" />
                            </div>
                            <div class="form-group" style="padding:10px 2px 0px 0">
                                <input type="text" style="width:400px; height: 25px;" class="form-control" v-model="form1.email"
                                    placeholder="您的邮箱：" />
                            </div>
                            <div class="form-group" style="padding:10px 0 0px 2px">
                                <input type="text" style="width:400px; height: 25px;" class="form-control" v-model="form1.phone"
                                    placeholder="联系电话：" />
                            </div>
                            <div class="form-group" style="padding:10px 0 0px 0">
                                <textarea type="text" rows="5" style="width:812px;" class="form-control" v-model="form1.detail"
                                    placeholder="合作需求："></textarea>
                            </div>
                        </form>
                        <div class="row" style="padding: 30px 0 10px 0; font-weight: 400; font-size: 16px">
                            <span>商务合作电话：</span><span style="color:#ffb339;padding-right: 30px">027-82298390</span>
                            <span>微信：</span><span style="color:#ffb339">deutschshi / michideutsch</span>
                        </div>
                        <div class="row" style="padding: 10px 0 10px 0">
                            <button type="button" @click="submitForm1()" class="btn btn-warning" style="width:250px;height: 30px;">
                                完成并发送
                            </button>
                        </div>
                        <div class="row" style="padding: 10px 0 30px 0">
                            <img src="img/logo1.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--my modal-->
        <div class="modal fade" id="tjModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="text-align:center; width:600px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button " class="close" @click="closeModel()">
                            &times;
                        </button>
                        <h4 class="modal-title center-align" style="font-size:22px;font-weight: 400">
                            提交成功
                        </h4>
                    </div>
                    <div class="modal-body" style="margin:30px;font-weight: 300;font-size: 16">
                        <span>感谢您的反馈，我们会在第一时间做出回应！</span>
                        <div class="row" style="padding-bottom:20px;padding-top: 30px">
                            <img src="img/logo1.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js "></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js "></script>
<script src="https://cdn.jsdelivr.net/npm/vue "></script>

<script>
    var vm = new Vue({
        el: '#vueData',
        data: {
            //课程信息
            ress: [{
            }],
            nowRes: {},
            nowModel: '',
            //文字
            resType1: {
                articleContent: '德语电影',
                contentUrl: ''
            },
            resType2: {
                articleContent: '德语杂志',
                contentUrl: ''
            },
            resType3: {
                articleContent: '德语小说',
                contentUrl: ''
            },
            resType4: {
                articleContent: '德语电视剧',
                contentUrl: ''
            },
            resType5: {
                articleContent: '德语教材',
                contentUrl: ''
            },
            resMethod: {
            },
            bottomCopyright: {
            },
            bottomBeiAn: {
            },
            //表单
            form1: {
                name: '',
                city: '',
                email: '',
                phone: '',
                detail: ''
            },
            form2: {
                name: '',
                detail: ''
            },


            //图片
            resBanner: {
            },
        },
        methods: {
            getRes: function (res, model) {
                if (model == '') {
                    if (res.bdyUrl == null || res.bdyUrl == '') {
                        model = 'myModal';
                    } else {
                        model = 'myModal1';
                    }
                }
                this.nowRes = res;
                this.nowModel = model;

                $('#' + model).modal("show");
            },
            closeModel: function () {
                $('#' + this.nowModel).modal("hide");
            },
            getRess: function (type) {
                $.ajax({
                    url: "http://118.24.110.84:18080/web/resource?constantId=" + type,
                    success: function (res) {
                        vm.ress = res.data;
                    }
                });
            },
            getAllRess: function () {
                $.ajax({
                    url: "http://118.24.110.84:18080/web/resource?free=true",
                    success: function (res) {
                        vm.ress = res.data;
                    }
                });
            },
            submitForm1: function () {
                if (this.form1.name == "") {
                    alert("请输入您的姓名");
                    return;
                }
                if (this.form1.city == "") {
                    alert("请输入所在城市");
                    return;
                }
                if (this.form1.email == "") {
                    alert("请输入您的邮箱");
                    return;
                }
                if (this.form1.detail == "") {
                    alert("请输入联系电话");
                    return;
                }
                if (this.form1.name == "") {
                    alert("请输入合作需求");
                    return;
                }
                $.ajax({
                    url: "http://118.24.110.84:18080/web/contact",
                    data: this.form1,
                    success: function (res) {
                        if (res.code === 200) {
                            alert("提交成功");
                        } else {
                            alert("提交失败");
                        }
                    }
                });
                this.closeModel();
            },
            submitForm2: function () {
                if (this.form2.name == "") {
                    alert("请输入资源分类");
                    return;
                }
                if (this.form2.detail == "") {
                    alert("请输入错误描述");
                    return;
                }
                $.ajax({
                    url: "http://118.24.110.84:18080/web/error",
                    data: this.form2,
                    success: function (res) {
                        if (res.code === 200) {
                            vm.getRes(this.nowRes, "tjModal");
                        } else {
                            alert("提交失败");
                        }
                    }
                });
                this.form2.name = "";
                this.form2.detail = ""
                vm.closeModel();
            }
        }
    });
    $(document).ready(function () {
        $.ajax({
            url: "http://118.24.110.84:18080/web/page",
            success: function (res) {
                if (res.code != 200 || res.data === '' || res.data === null) {
                    return;
                }

                var jsonObject = res.data
                //文字
                if (jsonObject.resType1 != null) {
                    vm.resType1 = jsonObject.resType1;
                }
                if (jsonObject.resType2 != null) {
                    vm.resType2 = jsonObject.resType2;
                }
                if (jsonObject.resType3 != null) {
                    vm.resType3 = jsonObject.resType3;
                }
                if (jsonObject.resType4 != null) {
                    vm.resType4 = jsonObject.resType4;
                }
                if (jsonObject.resType5 != null) {
                    vm.resType5 = jsonObject.resType5;
                }
                if (jsonObject.resMethod != null) {
                    vm.resMethod = jsonObject.resMethod;
                }
                if (jsonObject.bottomCopyright != null) {
                    vm.bottomCopyright = jsonObject.bottomCopyright;
                }
                if (jsonObject.bottomBeiAn != null) {
                    vm.bottomBeiAn = jsonObject.bottomBeiAn;
                }

                //图片
                if (jsonObject.resBanner != null) {
                    vm.resBanner = jsonObject.resBanner;
                }

            }
        });
        vm.getRess('resType1');
    })
</script>

</html>