<!DOCTYPE html>
<html itemscope="" itemtype="http://schema.org/WebPage" lang="zh-CN" xmlns:fb="https://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>米德在线</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width,initial-scale=1.0,user-scalable=yes,minimum-scale=1.0,maximum-scale=3.0" id="viewport" name="viewport">
    <meta content="#ffffff" name="theme-color">
    <meta content="米德在线">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" media="screen" href="./css/main.bundle.css">
    <link rel="stylesheet" media="screen" href="./css/common.css">
    <link rel="stylesheet" media="screen" href="./css/style.css">
    <link href="./img/mi.png" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" media="screen" href="./css/rotationchart.css">
</head>

<body>
    <div id="vueData" class="container-fluid" style="padding: 0px">
        <div class="navigator s-navbar-section" id="s-header">
            <div class="strikingly-fixed s-bg-light-text" id="s-nav">
                <div class="s-nav-inner">
                    <div class="s-nav-table">
                        <div class="logo">
                            <h2 class="logo-title" style="cursor: pointer;">
                                <div class="s-component s-text">
                                    <div class="s-component-content s-font-title">
                                        <a href="index.html">
                                            <div><img src="img/logo.png" /></div>
                                        </a>
                                    </div>
                                </div>
                            </h2>
                        </div>
                        <ul class="s-nav">
                            <li><a class="s-nav-item selected" target="_self" href="米德资讯.html"><span style="font-size:14px;padding:15px;font-weight:300">米德资讯</span></a></li>
                            <li><a class="s-nav-item" target="_self" href="aboutus.html"><span style="font-size:14px;padding:15px;font-weight: 300">米德团队</span></a></li>
                            <li>
                                <a class="s-nav-item">
                                    <div data-toggle="modal" data-target="#lxModal" style="cursor: pointer;"><span style="font-size:14px;padding:15px;font-weight: 300">联系我们</span></div>
                                </a>
                            </li>
                            <li><a class="s-nav-item" target="_self" href="joinus.html"><span style="font-size:14px;padding:15px;font-weight: 300">加入我们</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="waypoint"></div>
        <a class="section-anchor" style="top: -997px;"></a>
        <div>
            <img class="img-responsive center-block" :src="infoDetail.path" style="width:100%;">
        </div>
        <div class="clearfix" style="margin-top:30px">
            <div id="part1" class="tabbable row" style="text-align:center;width: 80%;padding-left: 10%">
                <p style="font-size:2.5rem">{{edit.title}}</p>
                <p style="font-size:1.5rem;color: #aaa">{{edit.subTitle}}</p>
                <div style="text-align:left;">
                    <span v-html="edit.contextStr"></span>
                </div>
            </div>
            <a href="米德资讯.html">
                <div class="btn btn-default btn-xs orange signUpBtn" style="padding-left:1.6rem;padding-right:1.6rem;padding-top:0.3rem;padding-bottom:0.3rem;border-color: orange;margin-top:5rem">返回列表</div>
            </a>
            <div class="row center-align" style="padding-top:30px;padding-bottom: 20px">
                <p style="font-size:18px;font-weight: 400">更多资讯</p>
            </div>
            <div class="row">
                <div class="Box">
                    <div class="content">
                        <div class="Box_con">
                            <div class="conbox" id="BoxUl">
                                <ul style="padding:0px;width:100% !important">
                                    <li class="cur" v-for="edit in edits">
                                        <figure>
                                            <div class="showZ" style="position:relative;">
                                                <img class="img-responsive center-block" src="./img/资讯背景图.png" />
                                                <div style="position:absolute; z-index:2; left:20px; top:40px">
                                                    <p style="font-weight:300;font-size: 14px;color:#FFF">{{edit.title}}</p>
                                                    <div style="width: 35px;">
                                                        <hr style="height:3px;border:none;border-top:3px solid #FFF;margin: 0px" />
                                                    </div>
                                                    <p style="font-weight:300;font-size: 14px;color:#FFF; text-align: left">{{edit.time}}</p>
                                                </div>
                                            </div>
                                            <figcaption>
                                                <p style="padding-top:4.6rem;padding-left:10rem;font-weight:400;font-size: 16px;color:#000000"><a :href="'米德资讯详情.html?id='+edit.id">查看详情→</a></p>
                                            </figcaption>
                                        </figure>
                                    </li>
                                </ul>
                            </div>
                            <div style="padding-top:30px">
                                <span class="btnl btn" id="btnl"></span>
                                <span class="BoxSwitch" id="BoxSwitch">
                                </span>
                                <span class="btnr btn" id="btnr"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="background:#000; color:#FFF;margin:0px;text-align:left">
            <div class="clearfix" style="padding-top:70px; padding-bottom: 40px; ">
                <div class="column col-xs-4 col-sm-4 col-md-4" style="padding-top:15px;">
                    <div class="row">
                        <div class="cloumn col-xs-12 col-sm-12 col-md-12" style="height:30px;padding-left: 0px;margin-bottom: 14px">
                            <div style="line-height: 0px; font-size: 16px;font-weight:700 ;margin-bottom: 14px;letter-spacing:5px;">
                                <p>米德平台</p>
                            </div>
                            <div style=" width:35px;">
                                <hr style="height:4px;border:none;border-top:5px solid #ffb339; " />
                            </div>
                        </div>
                        <div class="column col-xs-12 col-sm-12 col-md-12" style="padding-left: 0px;">

                            <div>
                                <p style="font-size: 12px;font-weight:300;margin-bottom: 14px">微博：@米西德语 @老狼德语</p>
                            </div>
                            <div>
                                <p style="font-size: 12px;font-weight:300;margin-bottom: 14px">公众号：MIDEZAIXIAN</p>
                            </div>
                            <div>
                                <p style="font-size: 12px;font-weight:300;margin-bottom: 14px">小程序：德语网课</p>
                            </div>
                            <div>
                                <p style="font-size: 12px;font-weight:300;margin-bottom: 14px">CCTALK公开课群：515555</p>
                            </div>
                            <div>
                                <p style="font-size: 12px;font-weight:300">CCTALK会员群：82635920</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class=" column col-xs-4 col-sm-4 col-md-4 " style="padding-top:15px;">
                    <div class="row">
                        <div class="cloumn col-xs-12 col-sm-12 col-md-12" style="height:30px;margin-bottom: 14px">
                            <div style="line-height: 0px; font-size: 16px;font-weight: 800;letter-spacing:5px;">
                                <p>合作机构</p>
                            </div>
                            <div style=" width:35px; ">
                                <hr style="height:4px;border:none;border-top:5px solid #ffb339; " />
                            </div>

                        </div>
                        <div class="column col-xs-12 col-sm-12 col-md-12">
                            <div>
                                <p style="font-size: 12px;font-weight:300;">留德小助手</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column col-xs-4 col-sm-4 col-md-4 " style="padding-right:0px;">
                    <div style="padding-left:40%;">
                        <div class="row">
                            <div class="cloumn col-xs-12 col-sm-12 col-md-12" style="padding-right:0px">
                                <div><img class="img-responsive center-block" src="img/二维码.png"></div>
                            </div>
                            <div class="cloumn col-xs-12 col-sm-12 col-md-12" style="padding-top:5px;padding-right:0px">
                                <div class="text-center">
                                    <p style="font-size: 14px;font-weight: 300">扫一扫了解更多</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align:center;padding-bottom: 10px;">
                <p>{{bottomCopyright.articleContent}}</p>
                <a :href="bottomBeiAn.contentUrl" style="color:#FFF;">{{bottomBeiAn.articleContent}}</a>
            </div>
        </div>

        <!--my modal-->
        <div class="modal fade" id="lxModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" style="text-align:center; width:960px">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button " class="close" @click="closeModel()">
                            &times;
                        </button>
                    </div>
                    <div class="modal-body center-align">
                        <h4 style="font-size:22px;font-weight: 400">
                            联系我们
                        </h4>
                        <form class="form-inline" role="form">
                            <div class="form-group" style="padding:10px 2px 0px 0">
                                <input type="text" style="width:400px; height: 25px;" class="form-control" v-model="form1.name" placeholder="您的姓名：" />
                            </div>
                            <div class="form-group" style="padding:10px 0 0px 2px">
                                <input type="text" style="width:400px; height: 25px;" class="form-control" v-model="form1.city" placeholder="所在城市：" />
                            </div>
                            <div class="form-group" style="padding:10px 2px 0px 0">
                                <input type="text" style="width:400px; height: 25px;" class="form-control" v-model="form1.email" placeholder="您的邮箱：" />
                            </div>
                            <div class="form-group" style="padding:10px 0 0px 2px">
                                <input type="text" style="width:400px; height: 25px;" class="form-control" v-model="form1.phone" placeholder="联系电话：" />
                            </div>
                            <div class="form-group" style="padding:10px 0 0px 0">
                                <textarea type="text" rows="5" style="width:812px;" class="form-control" v-model="form1.detail" placeholder="合作需求："></textarea>
                            </div>
                        </form>
                        <div class="row" style="padding: 30px 0 10px 0; font-weight: 400; font-size: 16px">
                            <span>商务合作电话：</span><span style="color:#ffb339;padding-right: 30px">027-82298390</span>
                            <span>微信：</span><span style="color:#ffb339">deutschshi / michideutsch</span>
                        </div>
                        <div class="row" style="padding: 10px 0 10px 0">
                            <button type="button" @click="submitForm1()" class="btn btn-warning" style="width:250px;height: 30px;">
                                完成并发送
                            </button>
                        </div>
                        <div class="row" style="padding: 10px 0 30px 0">
                            <img src="img/logo1.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="http://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue "></script>

<script>
    var vm = new Vue({
        el: '#vueData',
        data: {
            edit: {},
            edits: [{
                title: '德语在中国人心中的地位',
                time: '2018-11-22'
            }, {
                title: '德语在中国人心中的地位',
                time: '2018-11-22'
            }, {
                title: '德语在中国人心中的地位',
                time: '2018-11-22'
            }, {
                title: '德语在中国人心中的地位',
                time: '2018-11-22'
            }, {
                title: '德语在中国人心中的地位',
                time: '2018-11-22'
            }],
            bottomCopyright: {
            },
            bottomBeiAn: {
            },
            //表单
            form1: {
                name: '',
                city: '',
                email: '',
                phone: '',
                detail: ''
            },
            //图片
            infoDetail: {
            },
        },
        methods: {
            closeModel: function() {
                $('#lxModal').modal("hide");
            },
            submitForm1: function() {
                if (this.form1.name == "") {
                    alert("请输入您的姓名");
                    return;
                }
                if (this.form1.city == "") {
                    alert("请输入所在城市");
                    return;
                }
                if (this.form1.email == "") {
                    alert("请输入您的邮箱");
                    return;
                }
                if (this.form1.detail == "") {
                    alert("请输入联系电话");
                    return;
                }
                if (this.form1.name == "") {
                    alert("请输入合作需求");
                    return;
                }
                $.ajax({
                    url: "http://port.midezaixian.com/web/contact",
                    data: this.form1,
                    success: function(res) {
                        if (res.code === 200) {
                            alert("提交成功");
                        } else {
                            alert("提交失败");
                        }
                    }
                });
                this.closeModel();
            }
        }
    });
    $(document).ready(function() {
        var reg = new RegExp('(^|&)id=([^&]*)(&|$)', 'i');
        var id = window.location.search.substr(1).match(reg)[2];
        $.ajax({
            url: "http://port.midezaixian.com/web/edit?id=" + id,
            success: function(res) {
                if (res.code != 200 || res.data === '' || res.data === null) {
                    return;
                }
                vm.edit = res.data
            }
        });
        $.ajax({
            url: "http://port.midezaixian.com/web/page",
            success: function(res) {
                if (res.code != 200 || res.data === '' || res.data === null) {
                    return;
                }
                var jsonObject = res.data
                if (jsonObject.bottomCopyright != null) {
                    vm.bottomCopyright = jsonObject.bottomCopyright;
                }
                if (jsonObject.bottomBeiAn != null) {
                    vm.bottomBeiAn = jsonObject.bottomBeiAn;
                }
                //图片
                if (jsonObject.infoDetail != null) {
                    vm.infoDetail = jsonObject.infoDetail;
                }
            }
        });
        $.ajax({
            url: "http://port.midezaixian.com/web/edit?constantId=editType1&limit=true",
            success: function(res) {
                if (res.code != 200 || res.data === '' || res.data === null) {
                    return;
                }
                vm.edits = res.data
            }
        });

    })
</script>

<script type="text/javascript" src="./js/Lunbo.js"></script>
<script type="text/javascript">
    //滚动元素id，左切换按钮，右切换按钮，切换元素个数id,滚动方式，切换方向，是否自动滚动，滚动距离，滚动时间，滚动间隔，显示个数
    LbMove('BoxUl', 'btnl', 'btnr', 'BoxSwitch', true, 'left', true, 330, 1000, 5000, 2);
</script>

</html>